.custom-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    overflow-x: hidden;
    overflow-y: auto;
    animation: modalFadeIn 0.3s ease-out forwards;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.custom-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    animation: backdropFadeIn 0.3s ease-out;
}

@keyframes backdropFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.custom-modal-dialog {
    position: relative;
    width: 90%;
    margin: 1.75rem auto;
    z-index: 1055;
    animation: slideDown 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Modal Sizes */
.custom-modal-sm {
    max-width: 300px;
}

.custom-modal-md {
    max-width: 500px;
}

.custom-modal-lg {
    max-width: 800px;
}

.custom-modal-xl {
    max-width: 1140px;
}

@keyframes slideDown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.custom-modal-content {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.modal-header {
    padding: 1rem 1.25rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: #212529;
}

.modal-body {
    padding: 1.25rem;
}

.modal-footer {
    padding: 1rem 1.25rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

body:has(.custom-modal-wrapper) {
    overflow: hidden;
}
.badge.bg-success {
    background-color: #28c76f !important; /* thoda light green */
}

.badge.bg-danger {
    background-color: #ff4d4f !important; /* thoda light red */
}
.badge-status-active {
    background-color: #d1f7c4;
    color: #155724;
}

.badge-status-inactive {
    background-color: #ffe0e0;
    color: #721c24;
}

.table-responsive table  {
    /* min-width: 100px; */
    white-space: nowrap;
}






@media (min-width: 576px) {
    .custom-modal-dialog {
        width: 90%;
    }
}